{{ form_start(form) }}

    {{ form_errors(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.done) }}
    {{ form_row(form.favorite) }}
    <button class="btn  btn-primary m-1">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(form) }}
