{{ form_start(form) }}

    {{ form_errors(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.techno) }}

    <p class="mt-2">* Champ obligatoire</p>
    <button class="btn btn-primary mb-3">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
