{% extends 'back/index.html.twig' %}

{% block title %}Devway Back{% endblock %}

{% block body %}
    {% for realisation in realisations %}
        <a href="{{ path('mes_realisations') ~ realisation.slug }}" class="btn btn-success btn-sm m-1">{{ realisation.title }}</a>
    {% endfor %}

    <h1>Liste des réalisations</h1>
    <a href="{{ path('realisation_new') }}">Ajouter une réalisation</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Slug</th>
                <th>Description</th>
                <th>Techno</th>
                <th>Image</th>
                <th>Créé le</th>
                <th>Mis à jour le</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for realisation in realisations %}
            <tr>
                <td>{{ realisation.id }}</td>
                <td>{{ realisation.title }}</td>
                <td>{{ realisation.slug }}</td>
                <td>{{ realisation.description }}</td>
                <td>{{ realisation.techno }}</td>
                <td>{{ realisation.image }}</td>
                <td>{{ realisation.createdAt ? realisation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ realisation.updatedAt ? realisation.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td class="d-flex">
                    <a href="{{ path('realisation_show', {'id': realisation.id}) }}" class="btn btn-info m-1">Détails</a>
                    <a href="{{ path('realisation_edit', {'id': realisation.id}) }}" class="btn btn-warning m-1">Editer</a>
                    {{ include('back/realisation/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucune réalisation</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
